.bgFooter {
    width: 1440px;
    height: 491px;
    flex-shrink: 0;
}

.tituloFooterNegrito {
    width: 573px;
    color: #000;
    font-family: IBM Plex Mono;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; /* 143.333% */
}

.tituloFooterNormal {
    color: #000;
    font-family: IBM Plex Mono;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 43px;
}

.textoFooter {
    width: 538px;
    color: #000;
    font-size: 15px;
    font-family: Fontspring-DEMO-biennale-regular;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.botaoFooter {
    width: 171px;
    height: 38px;
    color: #55FF8E;
    background-color: #000;
    border-radius: 16px;
    font-family: IBM Plex Mono;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.5%; /* 21.505px */
}

.celularMaoFooter {
    position: absolute;
    top: 2052px;
    margin-left: 620px;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

/*MOBILE MOBILE MOBILE*/
/*MOBILE MOBILE MOBILE*/

.primeiroTituloMobileFooter {
    width: 278px;
    height: 26px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: IBM Plex Mono;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.7px; /* 138% */
    letter-spacing: 1.2px;
}

.segundoTituloMobileFooter {
    color: #000;
    font-family: IBM Plex Mono;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 20.7px;
    letter-spacing: 1.2px;
}

.textFooterMobile {
    width: 280px;
    height: 141px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 375;
    line-height: 150%; /* 19.5px */
}

.btnFooterMobile {
    width: 185px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #000;
}

.textBtnFooterMobile {
    width: 153px;
    height: 13px;
    flex-shrink: 0;
    color: #55FF8E;
    text-align: center;
    font-family: IBM Plex Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.5%; /* 16.445px */
    
}